body {
	text-align: center;
	font-family: "Andale Mono", AndaleMono, monospace;
	background-color: rgb(217, 241, 250);
}

#header {
	padding-bottom: 3em;
	background-color: white;
	text-align: left;
	padding-left: 3em;
}

header h1 {
	font-size: 3.5em;
	padding-top: 1em;
	padding-bottom: 0.4em;
	font-weight: bold;
}

header h2 {
	font-size: 1.2em;
	margin-bottom: 0.4em;
	color: rgb(86,17, 141);
}

header h3 {
	font-size: 2.2em;
	padding-top: 0.5em;
	font-weight: 600;
	text-align: center;

}


#picture{
	background-image: url("/images/tree_large.jpg");
  	z-index: -1;   
  	width: 100%;
  	height: 300%;
  	background-size: cover;
  	text-align: center;
  	padding-top: 1em;

}

header nav {
	text-align: center;
	z-index: 1;

}

nav ul {
	display: inline;
}

.navright li {
	float: right;
	padding-right: 1.5em;
}

nav a {
	font-weight: bold;
}

.form {
	text-align: center;
	width: 25%;
}

.form h1 {
	margin-bottom: 1em;
	font-size: 1.5em;
}

.form input{
	width: 20em;
	height: 2em;
}

.form p {
	margin-bottom: 0.8em;
	margin-top: 0.4em;
}

#flash {
	width: 55%;
	margin-left: 35%;
	color: red;
}

#flash ul {
	display: inline-block;
}

#flash li {
	margin-left: 2em;
}

.form input[type=submit], .button {
	background-color: rgb(219, 240, 248);
	margin-top: 1em;
	padding: 5px 10px;
	text-align: center;
	border: solid 1px;
	border-radius: 4px;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 1em;
	color: rgb(86,17, 141);
	font-weight: bold;
	width: 13.4em;
}

.form input[type=text], .form input[type=password] {
	height: 2.5em;
}


#logout input[type=submit] {
	background-color: white;
	padding: 5px 10px;
	text-align: center;
	border: solid 1px;
	border-radius: 4px;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 1em;
	color: rgb(86,17, 141);
	font-weight: bold;
	float: left;
}

#postpeep {
	border: dotted ;
	padding: 0.5em;
	border-radius: 50px;

}

.button, #postpeep {
	font-size: 1em;
	text-decoration: none;
	color: rgb(86,17, 141);

}

.form {
	width: 80%;
	margin-left:3.2em; 
	text-align: left;
}

#bye {
	text-align: center;
	margin-left: 4em;
	font-size: 2em;
}

#new-peep {
	color: rgb(86,17, 141);
}

#new-peep input[type=text] {
	font-size: 1em;
	width: 50%;
	height: 2em;
}

#new-peep input[type=submit] {
	background-color: white;
	border: solid 1px;
	border-radius: 4px;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 1em;
	color: rgb(86,17, 141);
}

.peep {
	background-color:white;
	opacity: 0.8;
	margin-bottom: 1em;
}

.peep h1 {
	font-size: 1.4em;
	margin-bottom: 0.4em;
	padding-top: 0.4em;
	padding-bottom: 0.2em;
	font-weight: bold;
}

