body{
	height: 100%;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
	background-position: left 40px;
	background-attachment: fixed;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	overflow-y: scroll;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a{
	text-decoration: none;
}

.top_nav{
	background-color: #fff;
	height: 46px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	display: inline-block;
	padding-bottom: 0.5em;

}


.left_nav ul, right_nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	text-align: center;
	padding-left: 10%;
}
.top_nav li{
	float: left;
	color: #66757f;
	overflow: hidden;
	position: relative;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 46px;
	line-height: 1;
	padding: 0 14px 0 4px;
}

.right_nav{
	float: right;
	margin-right: 10%;
}
.right_nav .my_picture{
	width: 32px;
	height: 32px;
	border: 0;
	opacity: 1;
	margin-bottom: 5em;
	border: 1px solid #e1e8ed;
	border-radius: 4px
}

#post, #validate_peep{
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	height: 20px;
	width: 50px;
	opacity: 1;
	background-color: #0084B4;
	background: rgba(0,132,180,.8);
	border-radius: 4px;
	padding: 6px 8px;
	overflow: hidden;
	margin-bottom: 5px;
	
}

#main{
	margin-top: 5%;
	margin-left: 10%;
}
#user_input{
	position: relative;
	/*display: block;*/
	float: left;
	width: 25%;
	height: 18em;
	margin-left: 1%;
	border-radius: 6px;
	background-color: #fff;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
}

#user_input header{
	background-color: #0084B4;
	height: 7em;
	border-radius: 6px 6px 0px 0px;
}

#user_input .my_picture{
	border-radius: 7px;
	height: 72px;
	width: 72px;
	border: 2px solid #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	z-index: 1000;
	position: relative;
	margin-top: -3em;
	margin-left: 0.5em;
}

#user_info{
	height: 8em;
	padding: 0.5em;
}

#identity{
	position: relative;
	margin-left: 7em;
	margin-top: -2em;
}
#identity h1{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

#identity h2{
	font-size: 12px;
	color: #66757f;
}

#peep_box{
	border: 1px solid;
	border-color: rgba(0,132,180,0.25);
	background-color: #E5F2F7;
	margin-bottom-1px;
	padding: 12px;
	padding: 10px 12px;
	border-radius: 0 0 5px 5px;

}

#new_peep_content{
	color: #8899a6;
	font-size: 14px;
	padding: 6px 8px 5px;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-color: rgba(0,132,180,0.25);
	border-radius: 0 0 5px 5px;
	max-height: 19px;
	min-height: 19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 18px;
	text-shadow: none;
	width: 70%;
}

#validate_peep{
	float: right;
	padding-bottom: 10px;
}

#peeps{
	width: 60%;
	width: 56%;
	margin-left: 32%;
	min-height: 40em;
	border-radius: 6px;
	background-color: #fff;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	
}

#peeps h1{
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	min-height: 20px;
	padding: 12px;
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}

#peeps h2 {
	position: relative;
	top: -1px;
	font-size: 13px;
	display: block;
	padding: 10px 1px;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	background-color: #f5f8fa;
	border-top: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	z-index: 2;
}

.peep_list{
	border-top: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	padding: 10px 1px 10px 20px;

}

.peep_list header{
	display: inline-block;
}

.peep_list header h3{
	float: left;
	margin-right: 5px;
}

.full_name{
	font-weight: bold;
	color: #292f33;
}

.peep_content{
	
}

