body{
	height: 100%;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
	background-position: left 40px;
	background-attachment: fixed;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*===========LOGIN====================*/

.login_nav{
	display: none;
}

.login_nav li{
	margin-right: 1px;
}


#log_username, #log_password {
	color: #8899a6;
	font-size: 12px;
	padding: 6px 8px 5px;
	border: 1px solid #e1e8ed;
	border-color: rgba(0,132,180,0.25);
	border-radius: 5px;
	max-height: 19px;
	min-height: 19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;
	text-shadow: none;
}


/*===========TOP NAVIGATION ======*/

#top_bar{
	background-color: #fff;
	height: 46px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;	
	border-bottom: 1px solid rgba(0,0,0,0.15);
	overflow: hidden;
}

.top_nav{
	min-width: 590px;
	max-width: 890px;
	width: auto;
	background: transparent;
	height: 46px;
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto;
	z-index: 2000;
}

.top_nav li{
	float: left;
	color: #66757f;
	overflow: hidden;
	position: relative;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 46px;
	line-height: 1;
	text-align: center;
	padding: 15px 10px 0px 0px;
}

.top_nav li a{
	text-decoration: none;
	color: #66757f;
	padding: 0 14px 14px 4px;
	position: relative;
	display: block;
}

.top_nav a:hover{
	border-bottom: 4px solid #0084b4;
}

.left_nav{
	float: left;
	text-align: left;
	margin-left: 1em;
}

#home_icon{
	float: left;
	width: 23px;
	height: 23px;
	background: transparent;
	display: inline-block;
	font-style: normal;
	position: relative;
	margin-top: -5px;
}


.right_nav{
	float: right;
	text-align: left;
}
.right_nav .my_picture{
	width: 32px;
	height: 32px;
	border: 0;
	opacity: 1;
	position: relative;
	margin-top: -6px;
	border: 1px solid #e1e8ed;
	border-radius: 4px
}

#post{
	display: block;
	position: relative;
	margin-top: 9px;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	height: 21px;
	width: 50px;
	opacity: 1;
	background-color: #0084B4;
	background: rgba(0,132,180,.8);
	border-radius: 4px;
	padding: 6px 8px;
	overflow: hidden;
	margin-bottom: 5px;
	
}

/*==========MAIN CONTENT==========*/
#main {
	height: 100%;
	display: block;
	width: 100%;
	overflow: scroll;
	position: relative;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

#content{
	padding: 56px 14px 15px;
	margin: 0 auto;
	min-height: 0;
	width: 890px;
}

/*===========LEFT SIDE BAR ======*/
#user_input{
	position: relative;
	float: left;
	width: 290px;
	border-radius: 6px;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	z-index: 2;
}

#user_input header{
	background-color: #0084B4;
	height: 7em;
	border-radius: 6px 6px 0px 0px;
}

#user_input .my_picture{
	border-radius: 7px;
	height: 72px;
	width: 72px;
	border: 2px solid #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	z-index: 1000;
	position: relative;
	margin-top: -3em;
	margin-left: 6px;
}

#user_info{
	height: 8em;
	padding: 0.5em;
	background-color: #fff;
}

#identity{
	position: relative;
	margin-left: 7em;
	margin-top: -2em;
}
#identity h1{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

#identity h2{
	font-size: 12px;
	color: #66757f;
}

#peep_box{
	border: 1px solid;
	border-color: rgba(0,132,180,0.25);
	background-color: #E5F2F7;
	margin-bottom-1px;
	padding: 12px;
	padding: 10px 12px;
	border-radius: 0 0 5px 5px;
}

#new_peep_content{
	color: #8899a6;
	font-size: 14px;
	padding: 6px 8px 5px;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-color: rgba(0,132,180,0.25);
	border-radius: 0 0 5px 5px;
	max-height: 19px;
	min-height: 19px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 18px;
	text-shadow: none;
	width: 70%;
}

#validate_peep{
	text-decoration: none;
	color: #66757f;
	padding: 0 14px 0 4px;
	position: relative;
	
}

#peep_box a:hover{
	border-bottom: 4px solid #0084b4;
}

/*=========== MAIN PEEPS ======*/

#peeps{
	width: 590px;
	float: right;
	display: block;
	border-radius: 6px;
	background-color: #fff;
	color: #292f33;
	font-size: 14px;
	line-height: 18px;
	border-color: rgba(0,132,180,0.25);
	overflow: hidden;
	
}

#peeps h1{
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	min-height: 20px;
	padding: 12px;
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}

#peeps h2 {
	position: relative;
	top: -1px;
	font-size: 13px;
	display: block;
	padding: 10px 1px;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	background-color: #f5f8fa;
	border-top: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	z-index: 2;
}

.peep_list{
	border-top: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	padding: 10px 1px 10px 20px;

}

.peep_list header{
	display: inline-block;
}

.peep_list header h3{
	float: left;
	margin-right: 5px;
}

.full_name{
	font-weight: bold;
	color: #292f33;
}

#reply_button{
	margin-top: 3px;
}



