<article class="form">

	<h1>Please sign up</h1>

	<form action="/users" method="post">
	<p><input name="name" type="text" placeholder="Name" value="<%= @user.name %>"></p>
	<p><input name="username" type="text" placeholder="Username" value="<%= @user.username %>"></p>
	<p><input name="email" type="text" placeholder="Email" value="<%= @user.email %>">
	</p>
	<p><input name="password" placeholder="Password" type="password"></p>
	<p><input name="password_confirmation" placeholder="Confirm password" type="password">
	</p>
	<p><input type="submit" value="Sign up"></p>
	</form>

</article>

