<article id="signup">

	<h1>Please sign up</h1>

	<form action="/users" method="post">
	Name<p><input name="name" type="text" value="<%= @user.name %>"></p>
	Username<p><input name="username" type="text" value="<%= @user.username %>"></p>
	Email<p><input name="email" type="text" value="<%= @user.email %>">
	</p>
	Password<p><input name="password" type="password"></p>
	Confirm password<p><input name="password_confirmation" type="password">
	</p>
	<p><input type="submit" value="Sign up"></p>
	</form>

</article>

