<!DOCTYPE html>
<html>
	<head>
		<title>Chitter</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/stylesheet.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div id="top_bar">
		</div>
			<header>
				<nav class="top_nav">
					<img src="/images/twitter_logo.png" id="twitter_icon"/>
					<nav class="left_nav" class="logged_in_page">
						<ul>
							<li id="home"><a href="#"><img src="/images/home.png" id="home_icon"/>Home</a></li>
							<li><a href="#">Discover</a></li>
						</ul>
					</nav>
					<aside class="right_nav" class="logged_in_page">
						<ul>
							<li><img src="/images/profile_picture.jpg" class="my_picture"/></li>
							<li id="sign_out_button">Sign out</li>
						</ul>
					</aside>
				</nav>
			</header>
			<main id="main">
				<section id="content">
					<section class="logged_out_page">
						<section id="welcome_message">
							<h1>Welcome to Chitter</h1>
							<p>Connect with your Makers — and other fascinating people. Get in-the-moment updates on the codes that interest you. And watch events unfold, in real time, from every angle.</p>
						</section>
						<article id="flash">
							<p></p>
							<div id="close"><a href="#">x</a></div>
						</article>
						<section id="sign_in_form">
							<article class="front_page_form">
								<p class="form_field"><input type="text" placeholder="Username" name="username" class="user_input" id="username_input"></p>
								<p class="form_field"><input type="password" placeholder="Password" name="password" class="user_input" id="password_input"></p>
								<input type="submit" value="Sign in" id="sign_in_button">
							</article>
						</section>
						<section id="sign_up_form">
							<h2><strong>New to Chitter? </strong>Sign up</h2>
							<article class="front_page_form">
								<p class="form_field"><input name="name" type="text" placeholder="Name" id="new_name" class="user_input"  ></p>
								<p class="form_field"><input name="username" type="text" placeholder="Username" id="new_username" class="user_input"> </p>
								<p class="form_field"><input name="email" type="text" placeholder="Email" id="new_email" class="user_input">
								</p>
								<p class="form_field"><input name="password" placeholder="Password" type="password" id="new_password" class="user_input" ></p>
								<p class="form_field"><input name="password_confirmation" placeholder="Confirm password" type="password" id="new_password_confirmation" class="user_input" >
								</p>
								<p><input type="submit" value="Sign up for Chitter" id="sign_up_button"></p>
							</article>
						</section>
					</section>
					<section class="logged_in_page">
						<section id="left_bar" >
							<header></header>
							<article id="user_info">
								<img src="/images/profile_picture.jpg" class="my_picture" />
								<article id="identity">
								<h1 id="my_name"></h1>
								<h2 id="my_username"></h2>
								</article>
							</article>
							<article id="peep_box">
								<input type="text" placeholder="Compose new peep" id="new_peep_content"/>
								<a href="#" id="validate_peep">Send</a>
							</article>
						</section>
						<section id="peeps">
							<h1>Peeps</h1>
							<% if @peeps %>
								<% @peeps.each do |peep| %>
										<article class="peep_list">
										<header>
											<h3 class="full_name"><%= peep.user.name %></h3>
											<h3 class="username">@<%= peep.user.username %></h3>
										</header>
										<p class="peep_content"><%= peep.content %></p>
										<a href="#" class="reply_button">Reply</a>
									</article>
								<% end %> 
							<% end %>
						</section>
					</section>
				</section>
			</main>
		<template id="peepTemplate">
			<article>
				<header>
					<h3 class="full_name">{{name}}</h3>
					<h3 class="username">@{{username}}</h3>
				</header>
				<p class="peep_content">{{peepContent}}</p>
				<a href="#" class="reply_button">Reply</a>
			</article>
		</template>
		<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="handlebars.js"></script>
		<script type="text/javascript" src="interface.js"></script>

	</body>
</html>