<html>
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>

	<header>
		<%= partial :header %>
	</header>
	
	<main id="picture">
		<article id="flash">
			<%= partial :flash %>
		</article>
   		<%= yield %>
   	</main>
	   
</body>
</html>